<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="#" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="#">
        </div>
      </a>
      <a href="#" class="simple-text logo-normal">
        Trade
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class=" <%= (pagename== 'dashboard') ? 'active' : '' %>">
          <a href="/">
            <i class="fa fa-home"></i>
            <p>Products</p>
          </a>
        </li>
        <li class=" <%= (pagename == 'product') ? 'active' : '' %>">
          <a href="/dashboard/">
            <!-- <i class="fa fa-store-alt"></i> -->
            <i class="fa fa-product-hunt"></i>
            <p>add Products</p>
          </a>
        </li>
        <!-- logout -->
        <li class="">
          <a href="/users/logout">
            <!-- <i class="fa fa-store-alt"></i> -->
            <i class="fa fa-product-hunt"></i>
            <p>Logout</p>
          </a>
        </li>
        <!-- <li class=" <%= (pagename== 'orders') ? 'active' : '' %>">
          <a href="/dashboard/orders">
            <i class="fa fa-shopping-cart"></i>
            <p>orders</p>
          </a>
        </li>
        <li class=" <%= (pagename== 'slider') ? 'active' : '' %>"> 
          <a href="/dashboard/sliders">
            <i class="nc-icon nc-bell-55"></i>
            <p>sliders</p>
          </a>
        </li> -->
        <!-- <li>
          <a href="#">
            <i class="nc-icon nc-single-02"></i>
            <p>SOmething</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="nc-icon nc-tile-56"></i>
            <p>something</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="nc-icon nc-caps-small"></i>
            <p>something</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="/">
            <i class="nc-icon nc-spaceship"></i>
            <p>View website</p>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
