<div class="form-group row float-left ">
    <div class="col-sm-10">
        <button type="submit" id="<%=fieldname%>" style="margin:0px;" class="btn btn-primary"><%= fieldvalue %></button>
    </div>
</div>