<!-- <div class="form-group"> -->
<div class="form-group row">
    <label class="col-sm-2 col-form-label"> <%=fieldlabel%> </label>
    <div class="col-sm-10">
        <select name="<%= fieldname%>" class="form-control" id="inputGroupSelect01" required>
            <option selected value="<%-valueField %>"> <%-valueField %> </option>
            <option value="Men">men</option>
            <option value="women">woman</option>
            <option value="kids">kids</option>
            <option value="maleshoes">male shoes</option>
            <option value="femaleshoes">female shoes</option>
            <option value="caps">caps</option>
            <option value="glasses">glasses</option>
            <option value="watches">watches</option>
            <option value="sandals">sandals</option>
            <option value="sneakers">sneakers</option>
            <option value="kaftan">kaftan</option>
            <option value="perfumes">Perfumes</option>

        </select>
    </div>
</div>