<!-- <div class="form-group"> -->
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> <%=fieldlabel%> </label>
        <div class="col-sm-10">
            <select name="<%= fieldname%>" class="form-control" id="inputGroupSelect01" required>
                <option selected value="<%-valueField %>"> <%- valueField %> </option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
               
            </select>
        </div>
    </div>